body {
  background-color: #a2b9bc;
  color: #1c0221;
}
header {
  margin: 0;
}
h1 {
  display: block;
  color: #1c0221;
  text-align: center;
  background-color: #0b5351;
  font-size: 4em;
}
.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
  /* border: 10px solid red; */
}
.block_box {
  background-color: #6b6d76;
  width: calc(33.3333333% - 2em);
  height: 45%;
  text-align: center;
  border: 5px solid #2c5a36;
  border-style: groove;
  border-radius: 50px;
  overflow: hidden;
}
#photo {
  max-width: 75%;
  max-height: 75%;
  border-radius: 10px;
}
