body {
  background-color: #a2b9bc;
}
h1 {
  display: block;
  color: #6b5b95;
  text-align: center;
  background-color: #878f99;
  font-size: 4em;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
  /* border: 10px solid red; */
}
section {
  background-color: #878f99;
  width: calc(33.3333333% - 2em);
  height: 45%;
  text-align: center;
  border: 1px solid green;
}
#photo {
  max-width: 75%;
  max-height: 75%;
}
footer {
  position: absolute;
  bottom: 0;
}
